@(message: String)

@main("Welcome to Play") {

   /* play20.welcome(message, style = "Java")*/

    <script type="text/javascript" src='@routes.Asserts.at("js/index.js")' ></script>

    <ul id="persons"></ul>

    <form action="@routes.Application.addPerson()" method="post">
        <input type="text" name="name" />
        <button>Add Person</button>

    </form>

}
